/*
Name: Marina Senis
Student Number: 100774596
File: style.css
Date: June 13th, 2025
Assignment 3 part 2 css file
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
    /*  A reasonable width for a large box, say around 200 pixels.
        A reasonable height for a large box, centering the text vertically in the process.
        Center the box horizontally.
        Center the text within the box.
        A slight increase in font size, to around 17-18 pixel computed style. Use rems. Write a comment about how you worked out the value.
    */
    margin: 0 auto;
    height: 100px; width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    /*  A base color for the design. Give the box this color as its background color.
        A contrasting color for the text and a black text shadow.    
    */
    background-color: red;
    color: white;
    text-shadow: 2px 2px 4px black;

    /*  A fairly subtle border radius
        A 1-pixel solid border with a color similar to the base color, but a slightly darker shade.
    */
    border-radius: 10px;
    border: 1px solid darkred;

    /*  A linear semi-transparent black gradient that goes toward the bottom right corner. Make it completely transparent at the start, grading to around 0.2 opacity by 30% along, and remaining at the same color until the end. 
        Multiple box shadows. Give it one standard box shadow to make the box look slightly raised off the page. The other two should be inset box shadows — a semi-transparent white shadow near the top left and a semi-transparent black shadow near the bottom right — to add to the nice raised 3D look of the box.
    */
    background-image: linear-gradient(to bottom right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.2) 30%,
    rgba(0,0,0,0.2) 100%);

    box-shadow:
    /* Main box-shadow */
    0 2px 4px rgba(0, 0, 0, 0.5),
    
    /* Inset white box-shadow at top left */
    inset 2px 2px 4px rgba(255, 255, 255, 0.5),
    
    /* Inset black box-shadow at bottom right */
    inset -2px -2px 4px rgba(0, 0, 0, 0.5);
    
}