/*
Name: Marina Senis
Student Number: 100774596
File: style.css
Date: June 13th, 2025
Assignment 3 part 2 css file
*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
    margin: 0 auto;
    height: 100px; width: 200px; 
    border: 20px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
}